<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635929962661-l8lojmi6q067i6qt3lr3mtm0i70pmnco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635929962661-l8lojmi6q067i6qt3lr3mtm0i70pmnco</string>
	<key>API_KEY</key>
	<string>AIzaSyD-punNy7ABXsNC1G9SDmxfLBISBW2bj2k</string>
	<key>GCM_SENDER_ID</key>
	<string>635929962661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>threefordie.Three-For-Die</string>
	<key>PROJECT_ID</key>
	<string>threefordie</string>
	<key>STORAGE_BUCKET</key>
	<string>threefordie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635929962661:ios:065bf34fbd4f4239b2454c</string>
</dict>
</plist>