<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735004843201-rppr0o3kmise00a0j59lmm0rar7686rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735004843201-rppr0o3kmise00a0j59lmm0rar7686rs</string>
	<key>API_KEY</key>
	<string>AIzaSyBPtziZlY_w94Jdz1cUzu7tGBu0hmocjVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>735004843201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>threefordie.Three-For-Die</string>
	<key>PROJECT_ID</key>
	<string>three-for-die</string>
	<key>STORAGE_BUCKET</key>
	<string>three-for-die.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735004843201:ios:6bd26116a89f5a9a798840</string>
</dict>
</plist>